* {
    box-sizing: border-box;
}
    
img {
    max-width: 100%;
}

body {
    margin:0;
}

.container {
    background:lightslategray;
    padding:10px;
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.top {
    height:20%;
    display:flex;
    gap:10px;
    display:flex;
}

.top-item {
    background:lightseagreen;
    width:33%;
    align-items:center;
}

.bottom {
    background:hotpink;
    height:80%;
    display:flex;
    gap:10px;
}

.left {
    background:greenyellow;
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.center {
    background:purple;
    width:15%;
    height:15%;
}

.right {
    width:50%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.right-item {
    background:lightseagreen;
    height:25%;
}