body {

  background-image: url('background.png'); 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
  background-attachment: fixed; 

}

  .invisible-border {
  border: 100px solid transparent;
}
